<section class="about" id="primary-content">
  <div class="wrapper">
    <h1 class="above">About us</h1>
    <div>
      <div class="about-main"><img src="../images/About.jpg" class="about-img">
        <h2 class="heading-img">The right book in the right hands at the right time can change the world.</h2>
      </div>
      <div class="about-block">
        <h3>Who We Are</h3>
        <p>Book Share is site for readers and book recommendations. Our mission is to help people find and share books they
          love. Book Share launched in March 2017.</p>
      </div>
      <div class="about-block">
        <h3>A Few Things You Can Do On Book Share</h3>
        <p>Share the books you read. See which books your friends are reading. Find out if a book is a good fit for you from
          our community’s reviews. <br> The site allows users to upload, view, rate, share, add to favorites and comment
          on books. Unregistered users can only watch books on the site, while registered users are permitted to upload an
          unlimited number of books and add comments to books. <br>
          <br>
        </p>
        <h4 class="message">For those who always looking for the next great book</h4>
      </div>
    </div>
  </div>
</section>