<section class="bookAddForm">
<div class="wrapper">
<h2>Add book</h2>
<form action="#/books/">

   <label><b>Author</b></label>
    <input id="author" type="text" placeholder="Enter Author" required>

    <label><b>Title</b></label>
    <input id="title" type="text" placeholder="Enter Title" required>

       <label><b>Description</b></label>
    <input id="desc" type="text" placeholder="Enter Description" >
        
    <button id="btnAdd" type="submit">Add</button>


</form>
</div>
</section>