<section class="loginForm" id="primary-content">
  <div class="wrapper">
<h2 class="above">Login</h2>

<form action="#/login">
  <div class="imgcontainer">
    <img src="../images/Profile_avatar_placeholder.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label><b>Email</b></label>
    <input id="txtEmail" type="text" placeholder="Enter Email" name="uname" required>

    <label><b>Password</b></label>
    <input id="txtPassword" type="password" placeholder="Enter Password" name="psw" required>
        
    <button id="btnLogin" type="submit">Login</button>
    <a href="#/signup"><button  type="submit">Go and Sign up</button></a>
  </div>
  
</form>
  </div>
</section>