<h1>Post add</h1>
  <div class="form">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="../images/Profile_avatar_placeholder.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label><b>Comment</b></label>
      <input id="textComment" type="text" placeholder="Enter Text" required>
        
      <button id="addComment" type="submit">Add comment</button>
    </div>
  </div>
