<section class="loginForm">
  <div class="wrapper">
<h2>Sign Up</h2>
<form action="#/signup">
  <div class="imgcontainer">
    <img src="../images/Profile_avatar_placeholder.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label><b>Username</b></label>
    <input id="uname" type="text" placeholder="Enter Username" name="uname" required>

    <label><b>Email</b></label>
    <input id="txtEmail" type="text" placeholder="Enter Email" name="uname" required>

    <label><b>Password</b></label>
    <input id="txtPassword" type="password" placeholder="Enter Password" name="psw" required>
        
    <button type="submit" id="btnSignUp">Sign up</button>
  </div>
</form>
  </div>
</section>