.loginForm, .bookAddForm {
    background: url('../images/content-box.png');
}
form, .form {
    border: 3px solid #f1f1f1;   
}

input[type=text], input[type=password], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
textarea {
    height: 300px;
    resize: none;
    font-size: 16px;
}
input[type=file] {
        width: 100%;
    padding: 12px 0;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    background-color: #262d35;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}
/*Book add*/



/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
}
/*Profile comments table*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
tr:hover,tr:hover td {
    background-color: #37414A;
    color: white;
}
table a {
    text-decoration: none;
    color: black;
}
table a:hover {
    text-decoration: underline;
}